{% block isotope-figures %}
<div id="figure-big" class="pull-left" style="width: 80%;height:100%"></div>
<div id="figure-sm-group" class="pull-right" style="width: 20%;height: 100%">
    <div id="figure-sm-01" style="width: 100%;height: 20%"></div>
    <div id="figure-sm-02" style="width: 100%;height: 20%"></div>
    <div id="figure-sm-03" style="width: 100%;height: 20%"></div>
    <div id="figure-sm-04" style="width: 100%;height: 20%"></div>
    <div id="figure-sm-05" style="width: 100%;height: 20%"></div>
</div>
{% endblock %}