<div class="div-params" style="border: 1px none #d5d5d5; border-radius: 4px; width: 100%; height: auto; float: left">
    <form id="calcParamsInputForm" method="post">
        <!--  decay  -->
        <div style="width: 500px; float: left; border: 1px solid #ccc; padding-left: 15px; margin-right: 15px">
            <label style="width: 400px; text-align: left; font-weight: bold">Decay</label>
            <label style="width: 400px; text-align: left;">Decay Constants</label>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s&nbsp;[1/a]
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K(EC)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s&nbsp;[1/a]
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K(&beta;<sub>-</sub>)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s&nbsp;[1/a]
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K(&beta;<sub>+</sub>)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s&nbsp;[1/a]
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>39</sup>Ar</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s&nbsp;[1/h]
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>37</sup>Ar</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s&nbsp;[1/h]
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>36</sup>Cl</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s&nbsp;[1/a]
                </label>
            </div>

            <label style="width: 200px; text-align: left;">Decay Activities</label>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K(EC)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K(&beta;<sub>-</sub>)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K(&beta;<sub>+</sub>)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
        </div>
        <!--  others  -->
        <div style="width: 500px; float: left; padding-left: 15px; border: 1px solid #ccc; margin-right: 15px">
            <label style="width: 200px; text-align: left; font-weight: bold">Other constants</label>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>36</sup>Ar Mass</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>37</sup>Ar Mass</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>38</sup>Ar Mass</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>39</sup>Ar Mass</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>Ar Mass</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">K Mass</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label title="Avogadro constant" style="width: 100px; text-align: left">NA</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Year</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>K/K</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>35</sup>Cl/<sup>37</sup>Cl</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">HCl/Cl</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>40</sup>Ar/<sup>36</sup>Ar(air)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left"><sup>38</sup>Ar/<sup>36</sup>Ar(air)</label>
                <label>
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> ±
                    <input type="number" step="any" class="calc-params" style="width: 140px;"> %s
                </label>
            </div>
        </div>
    </form>
</div>