{% extends 'home.html' %}

{% block content %}
    {% load static %}

    <div class="doc-left-sidebar">
        <p><a href="/doc/zh-cn">简体中文</a></p>
        <h2 id="content">Content</h2>
        <ol>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#background">Background</a></li>
        <li><a href="#usage">Usage</a></li>
        <li><a href="#features">Features</a></li>
        <li><a href="#update-log">Update Log</a></li>
        <li><a href="#citing-webarar-or-ararpy">Citing WebArAr or ArArPy</a></li>
        <li><a href="#reference">Reference</a></li>
        </ol>

        <h2><a href="/doc/tutorial">Tutorial</a></h2>
        <h2><a href="/doc/deploy">Deployment</a></h2>
    </div>

    <div class="doc-container">

        <div class="container-fluid article-container">
            <div class="article-content-container">
                {% include "doc_md.html" %}
            </div>
            <div class="article-right-sidebar">
                <a title="返回顶部" href="#__top__" type="button" class="btn btn-default glyphicon glyphicon-menu-up" aria-hidden="true"></a>
            </div>
        </div>

    </div>

{% endblock %}
