{% extends 'home.html' %}

{% block content %}

<div class="container-fluid" style="padding-right: 15px; padding-left: 30px;">

    <div style="border: 1px none #d5d5d5; border-radius: 4px; width: 100%; height: 100%; float: left">
        <form method="post" id="editExportForm">
            <!-- Export settings -->
            <div style="width: 40vw; float: left; margin-right: 15px">
                <div id="drop-zone" class="upload-drop-zone" style="height: 100px;">
                    <h4 style="padding-top: 30px">Drag a log file <i>here</i>.</h4>
                </div>
                <div style="width: 100%; float: left; border: 1px solid #ccc; padding-left: 15px; margin-right: 15px">

                    <!-- Open files -->
                    <label style="width: 400px; text-align: left; font-weight: bold">Files</label>
                    <input type="file" id="files_to_export" name="files" multiple="multiple" accept=".arr,.age" onchange="filesToExportChanged()">
                    <label><input type="text" id="export-file-table-input" name="export-file-table" class="sr-only"></label>
                    <table class="table table-hover" id="export_arr_file_list"></table>

                    <!-- Arrange settings -->
                    <label style="width: 400px; text-align: left; font-weight: bold">Functions</label>
                    <div class="form-inline">
                        <a class="btn btn-default" onclick="getPlotDataToExport()">Get PlotData</a>
                        <a id="expand_all" class="btn btn-default" onclick="expandAll()">Expand All</a>
                        <a class="btn btn-default" onclick="preview(false)">Fresh</a>
                        <a class="btn btn-default" onclick="preview(true)">Preview</a>
                        <a id="export_settings" class="btn btn-default" onclick="exportSettings()" >Settings</a>
                    </div>

                    <!-- Plot Data Json Display -->
                    <label style="width: 400px; text-align: left; font-weight: bold">Plot Data Json</label>

                    <div class="x-tree-div"></div>

                </div>
            </div>
            <!--  PDF frame  -->
            <div style="width: 50vw; max-width: 800px; height: 1133px; float: left; margin-right: 15px; border: 1px solid #ccc; overflow: hidden" >
                {% load static %}
                <embed id="pdfEmbed" src="{% static 'download/22WHA0218_Age Spectra.pdf' %}" width="100%" height="100%" type="application/pdf">
            </div>
        </form>

        <div class="modal fade" id="editExportParams" data-keyboard="true" tabindex="-1" role="dialog" aria-hidden="true">
                <!-- /.modal 导出功能的参数设置 -->
                <div class="modal-dialog modal-dialog-width-85" id="modal-dialog-export-params">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Export Parameters</h4>
                        </div>
                        <div class="modal-body modal-page-size" style="padding: 0 0 0 0; overflow: auto">
                            <div style="padding-right: 15px; padding-left: 30px;">
                                <div class="radio form-inline">
                                    <label>
                                        <input type="radio" name="exportParamsRadio" id="exportParamsRadio1" value="option1" onchange="paramsRadioChanged('export')" checked>
                                        Use a Export Setting Project
                                    </label>
                                    <select class="form-control" id="exportProjectName" onchange="showParamProject(this)" style="width: 200px; margin-left: 50px; height: 30px;">
                                        {% for each in allExportPDFNames %}
                                            <option>{{ each }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="exportParamsRadio" id="exportParamsRadio2" value="option2" onchange="paramsRadioChanged('export')">
                                        Use Input Params
                                    </label>
                                </div>
                                {% include "export_pdf_setting_modal_body_div.html" %}
                            </div>
                        </div>
                        <div class="modal-footer">
                            <br>
                            <div style="text-align: center">
                                <label>
                                    <input type="checkbox" value="" checked hidden>
{#                                    Attention: Recalculation will not be applied automatically, please click recalculate after parameter changes#}
                                </label>
                                <button type="button" class="btn btn-primary" value="Apply" data-dismiss="modal" onclick="">Apply</button>
                            </div>

                        </div>
                    </div><!-- /.modal-content -->
                </div>
            </div>
    </div>
</div>



<script>

const diagram_list = [
    'Age Spectra', 'Inverse Isochron','Degas Pattern',
    '39ArK Degas Spectra', '36Ara Degas Spectra', '40Arr Degas Spectra',
    '39ArK Degas Curve', '36Ara Degas Curve', '40Arr Degas Curve'
];
const position_list = [
    '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
    '11', '12', '13', '14', '15', '16', '17', '18', '19', '20',
    '21', '22', '23', '24', '25', '26', '27', '28', '29', '30',
    '31', '32', '33', '34', '35', '36', '37', '38', '39', '40',
    '41', '42', '43', '44', '45', '46', '47', '48', '49', '50',
];
let setting_list = {{ allExportPDFNames | safe }};

function getPlotDataToExport(data={}, fresh=false, preview=false) {
    let diagrams = (ele) => ele.options[ele.selectedIndex].innerText;
    let settings = (ele) => ele.options[ele.selectedIndex].innerText;
    let json_string = JSON.stringify({
        'files': $('#export_arr_file_list').bootstrapTable('getData').map((item, index) => {
            return {
                'checked': item['checked'], 'file_name': item['file_name'],
                'file_path': item['file_path'],
                'diagram': diagrams($('.input-filter-selection')[index]),
                'setting': settings($('.input-filter-selection-setting')[index]),
                'position': settings($('.input-filter-selection-position')[index]),
            }
        })
    });
    $.ajax({
        url: url_export_plotdata,
        type: 'POST',
        data: JSON.stringify({
            'data': data,
            'json_string': json_string,
            'settings': getParamsByObjectName('export-pdf'),
            'fresh': fresh,
            'preview': preview,
        }),
        contentType:'application/json',
        success: function(res){

            // 获取目标容器并将生成的树状结构插入到页面中
            if (!preview) {
                data = myParse(res.data);
                const treeContainer = document.querySelector('.x-tree-div');
                treeContainer.innerHTML = ''; // This removes all child elements

                let ul = document.createElement('ul');
                ul.classList.add('x-tree-root-ct', 'x-tree-lines', 'x-tree-node-active');

                const tree = Json2Tree('myPlotData', data);
                ul.appendChild(tree);

                treeContainer.appendChild(ul);
            }

            let embedElement = document.getElementById("pdfEmbed");
            embedElement.src = res.href;
        }
    });
}
function Tree2Json(treeNode, order=0, isArray=false) {
    const json = {};
    const array = [];
    const ulNodes = order===0?treeNode.querySelector('ul.x-tree-root-ct'):treeNode.querySelector('ul.x-tree-node-ct');
    const liNodes = ulNodes.querySelectorAll(':scope > li.x-tree-node');
    liNodes.forEach((liNode) => {
        const div = liNode.querySelector('div.x-tree-node-el');
        const span = liNode.querySelector('span.x-tree-node-key');
        const input = span.querySelector('input');
        if (span) {
            const text = span.textContent.trim();
            const key = text.split(':').map(s => s.trim())[0];
            if (input) {
                let value = (val => {
                    if (val.toLowerCase() === "" || val.includes(" ")) {
                        return val;
                    }
                    // if (val.toLowerCase() === 'nan' || ! Number.isNaN(Number(val))) {
                    //     return Number(val)
                    // }  // 用字符串保存内容
                    if (val.toLowerCase() === 'nan') {
                        return Number(val)
                    }
                    return val
                })(input.value);
                if (isArray) {
                    array.push(value);
                } else {
                    json[key] = value;
                }
            } else {
                if (isArray) {
                    let isArray = div.classList.contains('x-tree-node-expanded');
                    array.push(Tree2Json(liNode, order+1, isArray));
                } else {
                    let isArray = div.classList.contains('x-tree-node-expanded');
                    json[key] = Tree2Json(liNode, order+1, isArray);
                }
            }
        }
    });
    return isArray ? array : json;
}
function Json2Tree(key, value, order=0) {

    // 创建一个li节点表示key:value
    const li = document.createElement('li');
    li.classList.add('x-tree-node');

    const div = document.createElement('div');
    div.classList.add('x-tree-node-el', 'x-unselectable', 'active');

    let span = document.createElement('span');
    span.classList.add('x-tree-node-indent');
    span.innerHTML = "";
    for (let i=0; i<order; i++) {
        span.innerHTML = span.innerHTML + '<img src="/static/image/s.gif" class="x-tree-icon" alt="">';
    }

    let img_1 = document.createElement('img');
    img_1.src = "";
    img_1.alt = "";

    let img_2 = document.createElement('img');
    img_2.src = "";
    img_2.alt = "";

    const text = document.createElement('span');
    text.classList.add('x-tree-node-key');
    // 如果value是基本类型（字符串、数字、布尔值等），直接显示key: value
    if (typeof value !== 'object' || value === null) {
        text.innerHTML = `${key} : <input class="x-tree-node-input" type="text" value="${value}">`;
        img_1.classList.add('x-tree-ec-icon', 'x-tree-elbow-end');
        img_2.classList.add('x-tree-node-icon', 'x-tree-node-inline-icon');
        div.appendChild(span);
        div.appendChild(img_1);
        div.appendChild(img_2);
        div.appendChild(text);
        div.classList.add('x-tree-node-leaf');
        li.appendChild(div);
        return li;
    }
    // 如果value是对象或数组，递归生成子节点
    else {
        text.textContent = `${key} :`;
        img_1.classList.add('x-tree-ec-icon', 'x-tree-elbow-end-plus');
        img_1.onclick = function() { iconOnClick(img_1); }
        if (Array.isArray(value)) {
            img_2.classList.add('x-tree-node-icon', 'x-tree-node-inline-icon');
            div.classList.add('x-tree-node-expanded');
        } else {
            img_2.classList.add('x-tree-node-icon', 'x-tree-node-inline-icon');
            div.classList.add('x-tree-node-collapsed');
        }
        div.appendChild(span);
        div.appendChild(img_1);
        div.appendChild(img_2);
        div.appendChild(text);
        li.appendChild(div);

        const ul_2 = document.createElement('ul');
        ul_2.classList.add('x-tree-node-ct', 'x-tree-lines', 'x-tree-node-nested');

        // 递归处理对象或数组的子元素
        for (const childKey in value) {
            if (value.hasOwnProperty(childKey)) {
                const childLi = Json2Tree(childKey, value[childKey], order+1);
                ul_2.appendChild(childLi);
            }
        }

        li.appendChild(ul_2);

        return li;
    }
}
function iconOnClick(ele, expand=false, collapse=false) {
    let treeNode = ele.closest('.x-tree-node');
    let nestedList = treeNode.querySelector('.x-tree-node-ct');
    if (nestedList === undefined || nestedList === null) {
        return;
    }
    if (!nestedList.classList.contains('x-tree-node-active')) {
        if (collapse) { return; }
        ele.classList.remove('x-tree-elbow-end-plus');
        ele.classList.add('x-tree-elbow-end-minus');
        nestedList.classList.add('x-tree-node-active');
        nestedList.classList.remove('x-tree-node-nested');
    } else {
        if (expand) { return; }
        ele.classList.remove('x-tree-elbow-end-minus');
        ele.classList.add('x-tree-elbow-end-plus');
        nestedList.classList.remove('x-tree-node-active');
        nestedList.classList.add('x-tree-node-nested');
    }
}
function expandAll(){
    if ($('#expand_all').text().includes('Expand')) {
        for (let ele of $(".x-tree-ec-icon")) {
            iconOnClick(ele, true, false);
        }
        $('#expand_all').text('Collapse All');
    } else {
        for (let ele of $(".x-tree-ec-icon")) {
            iconOnClick(ele, false, true);
        }
        $('#expand_all').text('Expand All');
    }
}
function preview(preview=false){
    let json = Tree2Json($('.x-tree-div')[0]);
    let data = json.myPlotData;
    return getPlotDataToExport(data, true, preview);
}
function exportSettings() {
    $('#editExportParams').modal('show');
}
let input_files = []
// initialize raw file List
$('#export_arr_file_list').bootstrapTable(
    {
        clickToSelect: false,                //是否启用点击选中行
        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
        columns: [
            {field: 'checked', checkbox: true, width: 20, formatter: function () {return true}},
            {field: 'file_name', title: 'File name', width: 20, },
            {field: 'file_path', title: 'File path', width: 200, },
            {field: 'diagram', title: 'Diagram', width: 100, },
            {field: 'setting', title: 'Setting', width: 100, },
            {field: 'position', title: 'Position', width: 50, },
        ]
    }
);
let drop_zone = document.getElementById('drop-zone');
drop_zone.ondrop = function(e) {
    this.className = 'upload-drop-zone';
    _dropHandler(e);
}
drop_zone.ondragover = function(e) {
    this.className = 'upload-drop-zone drop';
    dragOverHandler(e);
    return false;
}
drop_zone.ondragleave = function() {
    this.className = 'upload-drop-zone';
    return false;
}
function _dropHandler(ev) {
    // Prevent default behavior (Prevent file from being opened)
    // Handle drag and drop events
    ev.preventDefault();
    let files = [];
    let directory_entry = [];
    if (ev.dataTransfer.items) {
        // Use DataTransferItemList interface to access the file(s)
        for (let item of [...ev.dataTransfer.items]){
            if (item.kind === "file") {
                let file = item.getAsFile();
                let entry = item.webkitGetAsEntry();
                if (entry.isDirectory) {
                    directory_entry.push(entry);
                } else {files.push(file);}
            }
        }
    }
    let formData = new FormData();
    let num_file = 0;
    formData.append("files", []);
    let getFileFormdata = (_) => {
        if (_.constructor === Array) {
            _.forEach((__, i) => (getFileFormdata(__)));
        } else {
            formData.append(`${num_file}`, _);
            num_file += 1;
        }
    }
    getFileFormdata(files);
    formData.append('length', num_file);
    let send_erquest = () => {
        $.ajax({
            url: url_multi_files,
            type: 'POST',
            data: formData,
            processData : false,
            contentType : false,
            mimeType: "multipart/form-data",
            success: function(res){
                $('#files_to_export').val('');
                let files = JSON.parse(res).files;
                let table = $('#export_arr_file_list');
                let data = table.bootstrapTable('getData');
                let diagram = 'Age Spectra';
                let setting = 'spectra';
                let data_length = data.length;
                $.each(files, function (index, file) {
                    table.bootstrapTable('insertRow', {index: data.length + index,
                        row: {
                            'file_name': file.name, 'file_path': file.path,
                            'diagram': `<select class="input-sm input-filter-selection" style="width: 100px; padding: 0">${diagram_list.map((item, _) => {
                                if (item.toUpperCase() === diagram.toUpperCase()) {
                                    return "<option selected>" + item + "</option>"
                                }
                                return "<option>" + item + "</option>"
                            }).join("")}$</select>`,
                            'setting': `<select class="input-sm input-filter-selection-setting" style="width: 100px; padding: 0">${setting_list.map((item, _) => {
                                if (item.toUpperCase() === setting.toUpperCase()) {
                                    return "<option selected>" + item + "</option>"
                                }
                                return "<option>" + item + "</option>"
                            }).join("")}$</select>`,
                            'position': `<select class="input-sm input-filter-selection-position" style="width: 50px; padding: 0">${position_list.map((item, _) => {
                                if (item.toUpperCase() === (data_length + index + 1).toString().toUpperCase()) {
                                    return "<option selected>" + item + "</option>"
                                }
                                return "<option>" + item + "</option>"
                            }).join("")}$</select>`,
                        }
                    })
                })
            }
        })
    }
    if (directory_entry.length === 0) {
        send_erquest();
    } else {
        if (directory_entry.length > 1) {
            alert("Only one directory on the top level is supported.");
        }
        traverseDirectory(directory_entry[0]).then((files_promise)=> {
            // AT THIS POINT THE DIRECTORY SHOULD BE FULLY TRAVERSED.
            Promise.all(files_promise[0]).then((res) => {
                files.push(...res);
                send_erquest();
            });
        });
    }
}

$(document).ready(function(){
    showParamProject(document.getElementById('exportProjectName'), 'export-pdf');
    paramsRadioChanged('export');
});

</script>

{% endblock %}
