<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="page-title">WebArAr</title>
    <link rel="icon" href="/static/image/logo32blue.svg">
    <!-- 兼容性设置 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <!-- 缩放设置 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet"  type="text/css">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'handsontable/handsontable.full.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'loading-indicator-dist/ladda-themeless.min.css' %}" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" type="text/javascript" charset="UTF-8"></script>
{#    <script src="{% static 'js/jquery-3.6.1.js' %}" type="text/javascript" charset="UTF-8"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/2.1.4/fingerprint2.min.js" type="text/javascript"></script>
{#    <script src="{% static 'js/fingerprintjs2-2.1.4.js' %}" type="text/javascript"></script>#}
    <script src="{% static 'loading-indicator-dist/spin.min.js' %}"></script>
    <script src="{% static 'loading-indicator-dist/ladda.min.js' %}"></script>
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}" type="text/javascript" charset="UTF-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js" type="text/javascript" charset="UTF-8"></script>
{#    <script src="{% static 'js/echarts.js' %}" type="text/javascript" charset="UTF-8"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts-gl/2.0.8/echarts-gl.min.js" type="text/javascript" charset="UTF-8"></script>  <!-- 3D plot -->
{#    <script src="{% static 'js/echarts-gl.js' %}" type="text/javascript" charset="UTF-8"></script>  <!-- 3D plot -->#}
    <script src="https://cdn.jsdelivr.net/npm/handsontable@13.0.0/dist/handsontable.full.min.js" type="text/javascript" charset="UTF-8"></script>
{#    <script src="{% static 'handsontable/handsontable.full.min.js' %}" type="text/javascript" charset="UTF-8"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jstat@1.9.6/dist/jstat.min.js"></script>

    <script src="{% static 'js/calc.main.js' %}?v=20240926" type="text/javascript"></script>
    <script src="{% static 'js/calc.func.js' %}?v=20240926" type="text/javascript"></script>
{#    <script src="{% static 'js/myecharts.js' %}?v=20240223" type="text/javascript"></script>#}

    <link href="{% static 'css/zoom.css' %}" rel="stylesheet">
    <script src="{% static 'js/zoom.js' %}"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.22.1/bootstrap-table.min.css">
{#    <link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.css">#}
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.22.1/bootstrap-table.min.js"></script>
{#    <script src="{% static 'bootstrap-table/bootstrap-table.js'%}"></script>#}
    <!-- Latest compiled and minified Locales -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.22.1/locale/bootstrap-table-zh-CN.min.js"></script>#}
{#    <script src="{% static 'bootstrap-table/bootstrap-table-zh-CN.js'%}"></script>#}
    <!-- Text-table module for displaying line fitting results -->
    <script src="{% static 'text-table/index.js'%}"></script>


    <script>

        const url_calc_view = "{% url 'calc_view' %}";

        const url_get_regression_result = "{% url 'object_views'  'get_regression_result' %}";
        const url_click_points = "{% url 'object_views' 'click_points_update_figures' %}";
        const url_update_components_diff = "{% url 'object_views' 'update_components_diff' %}";
        const url_get_auto_scale = "{% url 'object_views' 'get_auto_scale' %}";
        const url_update_handsontable = "{% url 'object_views' 'update_handsontable' %}";
        const url_update_sample_photo = "{% url 'object_views' 'update_sample_photo' %}";
        const url_recalculation = "{% url 'object_views' 'recalculation' %}";

        const url_export_arr = "{% url 'api_views' 'export_arr' %}";
        const url_export_xls = "{% url 'api_views' 'export_xls' %}";
        const url_export_opju = "{% url 'api_views' 'export_opju' %}";
        const url_export_pdf = "{% url 'api_views' 'export_pdf' %}";

        const url_set_params = "{% url 'object_views' 'set_params' %}";
        const url_show_param_projects = "{% url 'params_views' 'change_param_objects' %}";
        const url_edit_param_object = "{% url 'params_views' 'edit_param_object' %}";

        const url_raw_data_points_click = "{% url 'raw_views' 'calc_raw_chart_clicked' %}";
        const url_raw_average_blanks = "{% url 'raw_views' 'calc_raw_average_blanks' %}";
        const url_raw_empty_blank = "{% url 'raw_views' 'add_empty_blank' %}";
        const url_raw_interpolated_blanks = "{% url 'raw_views' 'calc_raw_interpolated_blanks' %}";
        const url_raw_submit = "{% url 'raw_views' 'raw_data_submit' %}";
        const url_raw_import_blank_file = "{% url 'raw_views' 'import_blank_file' %}";
        const url_raw_files_changed = "{% url 'raw_views' 'raw_files_changed' %}";
        const url_raw_export_sequence = "{% url 'raw_views' 'export_sequence' %}";
        const url_raw_change_fitting_method = "{% url 'raw_views' 'change_seq_fitting_method' %}";
        const url_raw_change_seq_state = "{% url 'raw_views' 'change_seq_state' %}";

        const url_reference_log = "{% url 'experiment_log' %}";
        const url_reference_update_log = "{% url 'oven_update_log' %}";
        const url_update_oven_log_results = "{% url 'update_oven_log_results' %}";

        const url_thermo_check_sample = "{% url 'thermo_views' 'check_sample' %}";
        const url_thermo_arr_input = "{% url 'thermo_views' 'arr_input' %}";
        const url_thermo_run_agemon = "{% url 'thermo_views' 'run_agemon' %}";
        const url_thermo_run_arrmulti = "{% url 'thermo_views' 'run_arrmulti' %}";
        const url_read_log = "{% url 'thermo_views' 'read_log' %}";
        const url_thermo_plot = "{% url 'thermo_views' 'plot_agemon' %}";

        function post_fingerprint(value) {
            $.ajax({
                url: "{% url 'show_home' %}",
                type: 'POST',
                data: JSON.stringify({
                    'fingerprint': value
                }),
                contentType:'application/json',
                success: function(res){
                    // pass
                }
            })
        }

        if (window.requestIdleCallback) {
            requestIdleCallback(function () {
                Fingerprint2.get(function (components) {
                    const values = components.map(components => components.value);
                    const fingerprint = Fingerprint2.x64hash128(values.join(''), 31);  // 生成指纹
                    console.log(fingerprint);
                    post_fingerprint(fingerprint);
                })
            });
        } else {
            setTimeout(function () {
                Fingerprint2.get(function (components) {
                    const values = components.map(components => components.value);
                    const fingerprint = Fingerprint2.x64hash128(values.join(''), 31);  // 生成指纹
                    console.log(fingerprint);
                    post_fingerprint(fingerprint);
                })
            }, 500)
        }
    </script>
</head>
<body>
    <div id="__top__"></div>
    <div id="popupContainer" class="popup-container" onclick="closePopupMessage()">
        <div id="popupContent" class="popup-content">
            <p id="popupTitle" class="popup-title"></p>
            <p id="popupMessage" class="popup-message"></p>
            <button id="popupCancelButton" class="btn btn-default popup-button" value="cancel">Cancel</button>
            <button id="popupContinueButton" class="btn btn-primary popup-button" value="continue" autofocus>Continue</button>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container-fluid" style="margin-left: 60px">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'show_home' %}" id="a-nav-main">Home</a>
            </div>
            <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li {% if '/calc/' in request.path %} class="active" {% endif %}><a href="{% url 'calc_view' %}" id="a-nav-calc">Run</a></li>
{#                    <li {% if request.path == '/detail/' %} class="active" {% endif %}><a href="{% url 'detail_view' %}" id="a-nav-prin">Formula</a></li>#}
                    <li {% if request.path == '/doc/' %} class="active" {% endif %}><a href="{% url 'doc_main_view' %}" id="a-nav-doc">Documentation</a></li>
                    <li {% if request.path == '/references/' %} class="active" {% endif %}><a href="{% url 'references_view' %}" id="a-nav-ref">References</a></li>
                </ul>
                <div class="nav navbar-nav navbar-right navbar-btn sr-only">
                    <button type="button" onclick="changelang2en()" class="btn btn-default btn-group-sm">En</button>
                    <button type="button" onclick="changelang2cn()" class="btn btn-default btn-group-sm">中文</button>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}

    <div class="jumbotron">
        <div class="container">
            <div class="row" style="display:flex; justify-content:center; align-items: center; /* 设置div内垂直居中 */">
                <div class="col-xs-12 col-sm-12 col-lg-7">
                    <h2 style="font-weight: bolder">Easy to </h2>
                    <h1 style="font-weight: bolder; margin-bottom: 15px">Ar-Ar Data Reduction</h1>
{#                        <h1 style="font-weight: bolder; margin-bottom: 15px">WebArAr</h1>#}
{#                        <h2 style="font-weight: bolder">Easy to Ar-Ar Data Reduction </h2>#}
                    <h4>by Yang Wu (<span><a class="text-muted" href="mailto:wuycug@hotmail.com" target="_blank">wuycug@hotmail.com</a></span>)</h4>
{#                    <h4>China University of Geosciences, Wuhan</h4>#}
                    <br>
                    <p>Free & Open source. Built With Django. Runs in a web browser</p>
                    <p>Import: Raw data, ArArCALC age & xls</p>
                    <p>Plots: Two sections of age plateaus corrected by trapped Ar</p>
                    <p style="text-indent: 2.75em">Two isochron lines corresponding to age sections</p>
                    <p style="text-indent: 2.75em">K-Cl-Ar correlation diagrams</p>
                    <br>
                    <div style="float: left">
                        <p><a class="btn btn-primary btn-lg" style="width: 110px" href="{% url 'calc_view' %}" role="button">Run</a></p>
                    </div>
{#                    <div style="float: left; margin-left: 20px">#}
{#                        <p><a class="btn btn-primary btn-lg" style="width: 150px" href="{% url 'doc_main_view' %}" role="button">Documentation</a></p>#}
{#                    </div>#}
{#                    <div class="text-center" style="float: left; margin-left: 20px">#}
{#                        <p style="margin-bottom: 0"><a class="btn btn-primary btn-lg" style="width: 110px" href="" role="button">Download</a></p>#}
{#                        <h6 style="margin-bottom: 0; margin-top: 4px">For offline use</h6>#}
{#                    </div>#}
                    <br><br>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-5">
                    <object data="/static/image/display.svg"></object>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 1300px;" hidden>

        <div class="row" style="height: 300px; display:flex; justify-content:center; padding: 50px 0 50px 0">
            <div class="col-md-5" style="position: relative">
                <div style="position: absolute; width: 60%;top: 50%; left: 60%; transform: translate(-50%, -50%)">
                    <img src="{% static 'image/8.svg' %}" class="img-responsive" alt="example1">
                </div>
            </div>
            <div class="col-md-7" style="position: relative">
                <div style="position: absolute; top: 50%; left: 30%; transform: translate(-50%, -50%)">
                    <h3>Age Spectra</h3>
                    <p>Two Sets</p>
                </div>
            </div>
        </div>

        <div class="row" style="height: 300px; display:flex; justify-content:center; padding: 50px 0 50px 0; border-top: #eee dashed 3px">
            <div class="col-md-7" style="position: relative">
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                    <h3>Age Spectra</h3>
                    <p>Two Sets</p>
                </div>
            </div>
            <div class="col-md-5" style="position: relative">
                <div style="position: absolute; width: 60%;top: 50%; left: 40%; transform: translate(-50%, -50%)">
                    <img src="{% static 'image/6.svg' %}" class="img-responsive" alt="example1">
                </div>
            </div>
        </div>

        <div class="row" style="height: 300px; display:flex; justify-content:center; padding: 50px 0 50px 0; border-top: #eee dashed 3px">
            <div class="col-md-5" style="position: relative">
                <div style="position: absolute; width: 60%;top: 50%; left: 60%; transform: translate(-50%, -50%)">
                    <img src="{% static 'image/12.svg' %}" class="img-responsive" alt="example1">
                </div>
            </div>
            <div class="col-md-7" style="position: relative">
                <div style="position: absolute; top: 50%; left: 30%; transform: translate(-50%, -50%)">
                    <h3>Age Spectra</h3>
                    <p>Two Sets</p>
                </div>
            </div>
        </div>

        <div class="row" style="height: 300px; display:flex; justify-content:center; padding: 50px 0 50px 0; border-top: #eee dashed 3px">
            <div class="col-md-7" style="position: relative">
                <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                    <h3>Age Spectra</h3>
                    <p>Two Sets</p>
                </div>
            </div>
            <div class="col-md-5" style="position: relative">
                <div style="position: absolute; width: 60%;top: 50%; left: 40%; transform: translate(-50%, -50%)">
                    <img src="{% static 'image/1.svg' %}" class="img-responsive" alt="example1">
                </div>
            </div>
        </div>

    </div>
    <div class="text-center navbar-fixed-bottom">
        <ul class="list-inline">
            <li><span class="text-muted">WebArAr</span></li>
            <li><span class="text-muted">Copyright © 2024 Yang Wu</span></li>
            <li>
                <span class="glyphicon glyphicon-envelope"></span>
                <a class="text-muted" href="mailto:wuycug@hotmail.com" target="_blank">wuycug@hotmail.com</a>
            </li>
{#            <li><a class="text-muted" href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank">鄂ICP备2022017514号-1</a></li>#}
{#            <li>#}
{#                    <img src="{% static 'image/gonganbeian.png' %}" style="float:left;" alt=""/>#}
{#                <a class="text-muted" target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42058102000098" style="display:inline-block">鄂公网安备 42058102000098号</a>#}
{#            </li>#}
            <li><span class="text-muted">Update: 2024/04/14 <span style="color: red">(Ctrl+Shift+R to Reload)</span></span></li>
{#            <li><a class="text-muted"href="http://www.bigarar.net/" target="_blank">Outside China</a></li>#}
        </ul>
        <ul class="list-inline">
            Powered by
{#            <li><a class="text-muted" href="https://earthref.org/ArArCALC/" target="_blank">ArArCalc by Anthony Koppers</a></li>#}
            <li><a class="text-muted" href="https://docs.djangoproject.com/zh-hans/4.1/" target="_blank">Django</a></li>
            <li><a class="text-muted" href="https://getbootstrap.com/" target="_blank">Bootstrap</a></li>
{#            <li><a class="text-muted" href="https://www.bootcss.com/" target="_blank">Bootstrap中文网</a></li>#}
            <li><a class="text-muted" href="https://bootstrap-table.com/" target="_blank">Bootstrap-table</a></li>
            <li><a class="text-muted" href="https://echarts.apache.org/zh/index.html" target="_blank">Echarts</a></li>
            <li><a class="text-muted" href="https://www.originlab.com/doc/ExternalPython" target="_blank">OriginPro</a></li>
            <li><a class="text-muted" href="https://handsontable.com/" target="_blank">Handsontable</a></li>
{#            <li><a class="text-muted" href="https://handsontable.com/docs/javascript-data-grid/" target="_blank">Handsontable Docs</a></li>#}
            <li><a class="text-muted" href="https://github.com/fingerprintjs/fingerprintjs/" target="_blank">fingerprintjs</a></li>
            <li><a class="text-muted" href="https://www.glyphicons.com/" target="_blank">Glyphicons</a></li>
            <li><a class="text-muted" href="https://xlsxwriter.readthedocs.io/index.html" target="_blank">XlsxWriter</a></li>
{#            <li><a class="text-muted" href="https://www.huaweicloud.com/" target="_blank">Huawei Cloud</a></li>#}
            <li><a class="text-muted" href="https://www.silicloud.com/about" target="_blank">SiCloud</a></li>
        </ul>
    </div>

    {% endblock content %}

    {% block raw_file_modal %}
    {% endblock %}
</body>

</html>