{% extends 'calc.html' %}

{% block raw_file_modal %}
    <script>
        $(document).ready(function(){$('#showRawFileModal').click(); show_page(1);});

        function show_page(page) {
            pages.hide();
            $('#page-'+page).show();
            current_page = page;
            // $('#page_num').text(current_page + '/' + max_page);

            // $('#submitBtn').attr("disabled",true);
            // if (current_page === 1){
            //     $('#last_page').attr("disabled",true);
            //     $('#next_page').attr("disabled",false);
            // } else if (current_page === max_page) {
            //     $('#next_page').attr("disabled",true);
            //     $('#last_page').attr("disabled",false);
            //     $('#submitBtn').attr("disabled",false);
            // } else {
            //     $('#last_page').attr("disabled",false);
            //     $('#next_page').attr("disabled",false);
            // }
            // if ($('#raw_file_list').bootstrapTable('getData').length === 0) {
            //     $('#submitBtn').attr("disabled",true);
            // }
        }

        function next_page() {
            if (current_page + 1 <= max_page){
                show_page(current_page + 1);
            }
        }

        function last_page() {
            if (current_page - 1 > 0){
                show_page(current_page - 1);
            }
        }

    </script>

    <!-- 按钮触发模态框 -->
    <button class="btn btn-primary btn-lg sr-only" data-toggle="modal" data-target="#myModal" id="showRawFileModal">Modal</button>
    <!-- 模态框( Modal )  -->
    <div class="modal fade" id="myModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-width-85">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Raw File Filter</h4>
                </div>
                <form id="rawFileForm" method="post" enctype="multipart/form-data">
                    <div id="page-1" class="modal-body raw-file-filter-page">
                        <p>Upload files and select filter</p>
{#                        Step 1: Select input filter and upload raw files#}
{#                        <div class="radio">#}
{#                            <label>#}
{#                                <input type="radio" name="fileOptionsRadios" id="fileOptionsRadios" value="auto" checked>#}
{#                                Auto select based on extensions of input files#}
{#                            </label>#}
{#                        </div>#}
{#                        <div class="radio">#}
{#                            <label>#}
{#                                <input type="radio" name="fileOptionsRadios" id="fileOptionsRadios1" value="xls">#}
{#                                Qtegra export (.xls)#}
{#                            </label>#}
{#                            <a class="btn" href="/static/examples/raw-data/raw_example.xls" download>Download a sample file</a>#}
{#                        </div>#}
{#                        <div class="radio">#}
{#                            <label>#}
{#                                <input type="radio" name="fileOptionsRadios" id="fileOptionsRadios2" value="ahd">#}
{#                                Qtegra export (.ahd)#}
{#                            </label><a class="btn" href="/static/examples/raw-data/raw_example.ahd" download>Download a sample file</a>#}
{#                        </div>#}
{#                        <div class="radio">#}
{#                            <label>#}
{#                                <input type="radio" name="fileOptionsRadios" id="fileOptionsRadios3" value="Filter 4">#}
{#                                Other: Select a input filter.</label>#}
{#<!--                            <a class="btn" href="" download>Download a sample file (pending)</a>-->#}
{#                        </div>#}
                        <div class="form-group">
                            <input type="file" id="file-input-1" name="raw_file" multiple="multiple" accept="application/vnd.ms-excel, .ahd, .txt, .seq,.csv" onchange="rawFilesChanged()">
                        </div>

                        <div style="">
                            <label>
                                <input type="text" id="raw-file-table-input" name="raw-file-table" class="sr-only">
                            </label>
                            <table class="table table-hover" id="raw_file_list"></table>
                        </div>
                    </div>

<!--                    <div id="page-2" class="modal-body raw-file-filter-page">Step 2: Choose a blank correction pattern-->
<!--                        <div class="radio">-->
<!--                            <label>-->
<!--                                <input type="radio" name="blankOptionsRadios" id="blankOptionsRadios1" value="option1" checked>-->
<!--                                <p style="font-weight: bold">First Extrapolate</p>-->
<!--                                <p>Conduct regression and extrapolation of the time-resolved mass spectrometer-->
<!--                                    signals to time zero, followed by subtraction to correct blank.</p>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <div class="radio">-->
<!--                            <label>-->
<!--                                <input type="radio" name="blankOptionsRadios" id="blankOptionsRadios2" value="option2" disabled>-->
<!--                                <p style="font-weight: bold">First Subtract (to be completed)</p>-->
<!--                                <p>Subtract blank from measured sample signal before extrapolation of-->
<!--                                    the time-resolved mass spectrometer signals to time zero.</p>-->
<!--                            </label>-->
<!--                        </div>-->
<!--                        <br>-->
<!--                        <p>-->
<!--                            <br>******Explanation******-->
<!--                            <br>// First Extrapolate: Blank and sample sequences always run separately. Choosing-->
<!--                            this pattern, regression and extrapolation for each sequence will be performed. Subsequent-->
<!--                            settings will provide chooses of specific strategies for subtracting blank.-->
<!--                            <br>// First Subtract: To follow this pattern, measurement cycle numbers of every-->
<!--                            sample and blank sequences should be same.-->
<!--                        </p>-->
<!--                    </div>-->

                </form>

                <div class="modal-footer">
<!--                    <div class="text-center">-->
<!--                        <button type="button" class="btn btn-default" onclick="last_page()" id="last_page">&lt;Back</button>-->
<!--                        <span id="page_num">1/3</span>-->
<!--                        <button type="button" class="btn btn-default" onclick="next_page()" id="next_page">Next&gt;</button>-->
<!--                    </div>-->
<!--                    <div style="margin-top:-34.18px">-->
                    <div>
                        <input type="submit" form="rawFileForm" class="btn btn-default" name="flag" value="Close">
                        <input type="submit" form="rawFileForm" class="btn btn-primary" name="flag" id="submitBtn" value="Submit">
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    {% for message in messages %}
        {% if 'success' in message.tags %}
            <dialog class="alert alert-success" role="alert"><span style="font-weight:bold">{{ message }}</span></dialog>
        {% elif 'error' in message.tags %}
            <p class="alert alert-warning" role="alert" style="position: fixed; z-index: 9999; margin-top: -600px; margin-left: 40%">
<!--                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>-->
                <span style="font-weight:bold">{{ message }}</span>
            </p>
        {% endif %}
    {% endfor %}


    <script>
        let pages = $(".raw-file-filter-page");
        let max_page = pages.length;
        let current_page = 1;
        // initialize raw file List
        $('#raw_file_list').bootstrapTable(
            {
                clickToSelect: false,                //是否启用点击选中行
                uniqueId: "id",                     //每一行的唯一标识，一般为主键列
                columns: [
                    {field: 'checked', checkbox: true, width: 20, formatter: function () {return true}},
                    {field: 'id', title: 'Sequence', width: 20,
                        formatter: function (value, row, index) {
                            return index + 1
                        }
                    },
                    {field: 'file_name', title: 'File name', width: 20, },
                    {field: 'file_path', title: 'File path', width: 200, },
                    {field: 'filter', title: 'Filter', width: 100, },
                    {field: 'operation', title: 'Operation', width: 50, }
                ]
            }
        );
        $('#raw_file_list').on('all.bs.table', (e, arg1, arg2) => {
            let filters = [];
            // console.log($('#raw_file_list').bootstrapTable('getData'));
            // console.log($('#raw_file_list').bootstrapTable('getData')[0].checked);
            $('.input-filter-selection').each((index, ele) => {
                filters[index] = ele.options[ele.selectedIndex].innerText;
            });
            $('#raw-file-table-input').val(JSON.stringify({
                'files': $('#raw_file_list').bootstrapTable('getData').map((item, index) => {
                    return {
                        'file_name': item['file_name'], 'file_path': item['file_path'],
                        'filter': filters[index], 'checked': item['checked']
                    }
                })
            }))
        })
        //close alert after 3 seconds
        window.setTimeout(function() {
            $(".alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove();

            });
        }, 3000);
    </script>

{% endblock %}
