<div class="div-params" style="border: 1px none #d5d5d5; border-radius: 4px; width: 100%; height: auto; float: left">
    <form id="thermoParamsInputForm" method="post">
        <div style="width: 500px; float: left; border: 1px solid #ccc; padding-left: 15px; margin-right: 15px">
            <label style="width: 500px; text-align: left; font-weight: bold">Settings</label>

            <div class="form-inline">
                <label style="width: 250px; text-align: left">N domain</label>
                <label>
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Number of diffusion domains"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">N guess</label>
                <label>
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Number of random diffusion domain sizes"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">b</label>
                <label>
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Geometric parameters"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">imp</label>
                <label>
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Geometric parameters"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">acut</label>
                <label>
                    <input type="number" step="any" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="0.5"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">dchmin</label>
                <label>
                    <input type="number" step="any" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="0.01, used to determine the falling speed of chisq"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>


            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" class="thermo-check-box" style="margin-top: 10px">
                    Use f of unselected sequences
                </label>
            </div>

            <div class="form-inline">
                <label style="width: 250px; text-align: left">log10 or ln:</label>
                <label>
                    <select class="thermo-params" style="height: 30px; width: 150px">
                        <option value="log10">log10</option>
                        <option value="ln">ln</option>
                    </select>
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Lovera: cumulative released argon, f[i] = sum(Ar[:i+1])/sum(Ar)
Yang: ratio of released argon during current sequence to all remaining argon, f[i] = Ar[i])/sum(Ar[i:])"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">How to calculate xlogd (logr/r0):</label>
                <label>
                    <select class="thermo-params" style="height: 30px; width: 150px">
                        <option value="lovera">Lovera</option>
                        <option value="yang">Yang</option>
                        <option value="popov">Popov</option>
                    </select>
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">How to generate random numbers:</label>
                <label>
                    <select class="thermo-params" style="height: 30px; width: 150px">
                        <option value="lovera">Lovera</option>
                        <option value="numpy">numpy</option>
                    </select>
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">How to fit target model:</label>
                <label>
                    <select class="thermo-params" style="height: 30px; width: 150px">
                        <option value="lovera">ML (lovera)</option>
                        <option value="other">other</option>
                    </select>
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 250px; text-align: left">Which of five isotopes will be used:</label>
                <label>
                    <select class="thermo-params" style="height: 30px; width: 150px">
                        <option value="40">40Arr</option>
                        <option value="39">39ArK</option>
                        <option value="38">38ArCl</option>
                        <option value="37">37ArCa</option>
                        <option value="36">36Ara</option>
                        <option value="total">total</option>
                    </select>
                </label>
            </div>

        </div>
        <div style="width: 500px; float: left; border: 1px solid #ccc; padding-left: 15px; margin-right: 15px">
            <label style="width: 500px; text-align: left; font-weight: bold">Plot</label>

            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" class="thermo-check-box" style="margin-top: 10px">
                    1. Arrhenius Plot
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" class="thermo-check-box" style="margin-top: 10px">
                    2. Age spectra
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" class="thermo-check-box" style="margin-top: 10px">
                    3. Cooling history
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" class="thermo-check-box" style="margin-top: 10px">
                    4. Heating log
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="" class="thermo-check-box" style="margin-top: 10px">
                    5. Release pattern
                </label>
            </div>

        </div>

        <div style="width: 500px; float: left; border: 1px solid #ccc; padding-left: 15px; margin-right: 15px">
            <label style="width: 500px; text-align: left; font-weight: bold">Domains</label>

            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom1</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom2</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom3</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom4</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom5</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom6</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom7</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>
            <div class="form-inline">
                <label style="width: 100px; text-align: left">Dom8</label>
                <label>Energy:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
                <label>Fraction:
                    <input type="number" min="1" step="1" class="thermo-params" style="width: 100px;">
                </label>
            </div>

            <div class="form-inline">
                <label style="width: 100px; text-align: left">Walker function:</label>
                <label>
                    <select class="thermo-params" style="height: 30px; width: 150px">
                        <option value="walker1">walker 1 </option>
                        <option value="walker2">walker 2 (dt)</option>
                    </select>
                </label>
            </div>

            <div class="form-inline">
                <label style="width: 100px; text-align: left">K</label>
                <label>
                    <input type="number" step="any" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="the factor used to accelarate walking. Reference: 1.2 for walker1, 100 for walker2"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>

            <div class="form-inline">
                <label style="width: 100px; text-align: left">Grain size</label>
                <label>
                    <input type="number" step="any" class="thermo-params" style="width: 150px;">
                </label> μm
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Grain size in μm, like 275 for 250-300μm, 350 for 300-400μm"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>

            <div class="form-inline">
                <label style="width: 100px; text-align: left">Atom Density</label>
                <label>
                    <input type="number" step="any" class="thermo-params" style="width: 150px;">
                </label>
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Atom Density, 1e14 Atoms per cm cube, 1e10 for reference"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>

            <div class="form-inline">
                <label style="width: 100px; text-align: left">Frequency</label>
                <label>
                    <input type="number" step="any" class="thermo-params" style="width: 150px;">
                </label> μm
                <a class="text-muted" target="_blank" style="display:inline-block">
                    <span title="Molecular vibrational frequency, ranges from 1e13 to 1e14 Hz typically. 1e13 for reference"
                          class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
            </div>


        </div>

    </form>
</div>
